<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Young University </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/CSS/site.css" />
    <link rel="stylesheet" type="text/css" href="../static/CSS/graduacao.css" />
    <link rel="shortcut icon" href="../static/Imagens/logo/LogoYoung.png" />


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</head>
<body>      
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="index.html"> <img class="logo" src="../static/Imagens/logo/LogoYoung.png" > </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbar1">
    
    <ul class="navbar-nav ml-auto"> 
      <li class="nav-item ">
        <a class="nav-link" href="index.html">Home</a>
      </li>
    <li class="nav-item active"><a class="nav-link" href="graduacao.html"> Graduação </a></li>
    <li class="nav-item"><a class="nav-link" href="noticia.html"> Noticias </a></li>
    <li class="nav-item"><a class="nav-link" href="contato.html"> Contato </a></li>
    <li class="nav-item">
      <a class="btn ml-2 btn-warning" href="login.html">Login</a></li>
    </ul>
  </div>
</nav>


<!-- ############### IMAGEM DE HEADER ########### -->
<header class="header" id="header4">
        <div class="center">
            <div class="caption">
                <h2 class="title display-4">Conheça as opções que estão disponiveis especialmente para você!</h2>
            </div>	
        </div>
        <i class="scroll fa fa-angle-double-down"></i>
</header>

<!-- ############### FIM IMAGEM DE HEADER ########### -->

    
    
    
        <!-- Parte Laranja-->

    
    <div class="header-content">
      
    </div>
    
    
    
    <!-- ############ Fim parte Laranja ##############-->

    <!-- ############ DIV BRANCA AONDE FICA OS CURSOS ############ -->

<div class="card-section">
    <div class="container">
        <div class="card-block bg-white mb30">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                </div>
            </div>
    <!-- ########## FIM DIV BRANCA AONDE FICA OS CURSOS ######### -->


            <!--############# AQUI COMEÇA A LISTA DE CURSOS ######### -->

            
<div class="container">
    <div class="row">
        <!--1º curso-->
        <div class="col-lg-4">
            <div class="our-team-main">
                <a href="CursosEspecificados/ADS.html" class="link" > <!-- AQUI FICA OS LINKS PARA AS PAGINAS-->
                    <div class="team-front">
                        <img src="../static/Imagens/atencao_cursos/ADS.jpeg" class="img-fluid" />
                        <h3>Analise e Desenvolvimento</h3>
                        <p>Tecnólogo</p>
                    </div>

                    <div class="team-back">
                        <span>
                            O curso é voltado para a criação de programas, softwares e sistemas para as empresas. 
                            As etapas do projeto de sistemas de software, como análise, projeto, teste, gestão, implantação e 
                            manutenção. <br><br><br><br>
                        </span>
                    </div>
                </div> </a> <!-- Link Fecha Aqui-->
            </div>

        <!--Fim 1° Curso-->

        <!--2 Curso-->
        <div class="col-lg-4">
            <div class="our-team-main">
                <a href="CursosEspecificados/SI.html" class="link"> <!-- AQUI FICA OS LINKS PARA AS PAGINAS-->
                    <div class="team-front">
                        <img src="../static/Imagens/atencao_cursos/SI.jpg" class="img-fluid" />
                        <h3>Sistema da informação</h3>
                    <p>Bacharelado</p>
                </div> 

                <div class="team-back">
                    <span>
                            A Graduação de Sistemas de Informação prepara o aluno para ser um profissional transformador 
                            do mercado, desenvolvendo soluções inovadoras e criativas na construção e utilização de 
                            Sistemas de Informação.<br><br><br>
                    </span>
                </div> </a>  <!-- Link Fecha Aqui-->
            </div>
        </div>
        <!--team-2-->

        <!-- 3 curso-->
        <div class="col-lg-4">
            <div class="our-team-main">
                <a href="CursosEspecificados/WebDesigner.html" class="link"> <!-- AQUI FICA OS LINKS PARA AS PAGINAS--> 
                <div class="team-front">
                    <img src="../static/Imagens/atencao_cursos/WD.jpg" class="img-fluid" />
                    <h3>Web Designer</h3>
                    <p>Tecnólogo</p>
                </div>

                <div class="team-back">
                    <span>
                        O web design é uma área de estudo caracterizada pelo desenvolvimento de interfaces com o 
                        usuário em web sites e aplicações web. Podemos considerar o web design como parte do 
                        design gráfico, que é muito mais abrangente, pois envolve o desenho de qualquer tipo.                    </span>
                </div> </a>  <!-- Link Fecha Aqui-->
            </div>
        </div>
        <!--Fim 3º-->

        <!--Curso 4-->
        <div class="col-lg-4">
            <div class="our-team-main">
                <a href="CursosEspecificados/JogosDigitais.html" class="link"> <!-- AQUI FICA OS LINKS PARA AS PAGINAS--> 
                <div class="team-front">
                    <img src="../static/Imagens/atencao_cursos/JD.jpg" class="img-fluid" />
                    <h3>Jogos Digitais</h3>
                    <p>Tecnólogo</p>
                </div>

                <div class="team-back">
                    <span>
                        Com conhecimento interdisciplinar, o aluno terá contato com todas as fases do projeto: 
                        desde o design, arte visual, áudio e programação até a gestão de projetos e negócios.<br><br><br><br>
                    </span>
                </div> </a>  <!-- Link Fecha Aqui-->
            </div>
        </div>
        <!--Fim 4 curso-->

        <!--Curso 5-->
        <div class="col-lg-4">
            <div class="our-team-main">
                <a href="CursosEspecificados/BancoDeDados.html" class="link"> <!-- AQUI FICA OS LINKS PARA AS PAGINAS--> 
                <div class="team-front">
                    <img src="../static/Imagens/atencao_cursos/BD.jpg" class="img-fluid" />
                    <h3>Banco de Dados</h3>
                    <p>Tecnólogo</p>
                </div>

                <div class="team-back">
                    <span>
                            O curso de Banco de Dados prepara o aluno para ser um profissional versátil e com 
                            habilidades para atuar com diversas plataformas e estruturas de desenvolvimento e 
                            administração de sistemas de Banco de Dados<br> <br>
                    </span>
                </div></a>  <!-- Link Fecha Aqui-->
            </div>
        </div>
        <!--Fim curso 5-->

        <!--Curso 6-->
        <div class="col-lg-4">
            <div class="our-team-main">
                <a href="CursosEspecificados/ProducaoMultimidia.html" class="link"> <!-- AQUI FICA OS LINKS PARA AS PAGINAS--> 
                <div class="team-front">
                    <img src="../static/Imagens/atencao_cursos/PM.jpg" class="img-fluid" />
                    <h3>Produção Multimídia</h3>
                    <p>Tecnólogo</p>
                </div>

                <div class="team-back">
                    <span>
                        Você é apaixonado e curioso por novas mídias e imagina-se como um futuro profissional 
                        bem sucedido na área? Este curso de nível superior prepara você para criar, implantar e gerenciar 
                        recursos de texto, imagem, vídeo e animação e atuar com o que há de mais atual.</span>
                </div> </a>  <!-- Link Fecha Aqui-->
            </div>
        </div>
    </div><!--Fim curso 8-->
</div>
</div>
</div>
</div>

</div>


        
<br><br><br><br><br><br><br><br><br><br>

<footer>
    <div class="card-body text-center">
     <h4 class="text-white"><p>&copy; Copyright Young Developer 2018 </p> </h4>
     <p class="h5 text-white"> for Ecommerce, marketplace, booking websites 
     and product landing pages</p>   <br>
     <i class="fa fa-window-restore "></i></a></p>
   </div>
  <br><br>
  </footer>
</body>
</html>
